{% extends 'base.html' %}
{% block content %}

<style>
    .click_button {
        background-color: beige;
        padding: 3px 20px 3px 20px;
        border-radius: 10px;
        color: black;
    }
    .div_btn a {
        color: black;
        text-decoration: none;
        margin: 5px;
    }
</style>
<script>
    String.prototype.replaceAt=function(index, character) {
        return this.substr(0, index) + character + this.substr(index+1, index+character.length);
    }

    window.addEventListener('DOMContentLoaded', function(){
        console.log('DOMContentLoaded');

        var video = document.getElementById('video_frame');
        var link = video.src;
        console.log(link);
        
        // link = "https://youtu.be/e_Ru6obV2dQ"
        link = link.replace('youtu.be', 'www.youtube.com')
        console.log(link);

        var n = link.lastIndexOf("/");
        console.log(n);

        // link = link.replace("/", "/embed/", 19);
        console.log(link); 

        link = link.replaceAt(n, '/embed/');
        console.log(link); 

        video.src = link
        console.log(link);
    })
    
</script>
<div class="container">
    <h1>{{data.title}}</h1>

    <div>
        작성자 : {{data.author}}
        <br>
        작성일 : {{data.date}}
    </div>
    
    <hr>
    
    {% if data.image %}
        <p><img src="{{data.image.url}}" height="250"></p>
    {% endif %}
    
    <p>{{data.contents | linebreaks}}</p>

    {% if data.youtube_link %}
    <div class="video">
        <iframe width="420" height="315" src="{{data.youtube_link}}" id="video_frame"></iframe>
    </div>
    {% endif %}

    {% comment %} 밑에는 태그 관련 코드 {% endcomment %}
    <br>
    <div>
        <b>관련 태그</b><i class="fa fa-tag" aria-hidden="true"></i>
        {% load taggit_templatetags2_tags %} <!--taggit_templatetags2_tags 모듈을 가져온다-->
        {% get_tags_for_object data as "tags" %} <!-- ** -->
        {% for tag in tags %}
        <a href="{% url 'community:tagged_object_list' tag.name %}">{{tag.name}}</a>
        {% endfor %}
        &emsp;
        <a href="{% url 'community:tag_cloud' %}"><span class="btn btn-warning btn-sm">태그 모아보기</span></a>
    </div>
    {% comment %} 태그 관련 코드 끝 {% endcomment %}
    <br>
    {% if request.user == data.author %}
    <div class="div_btn">
        <a href="{% url 'community:community_edit' data.id %}"><span class="click_button">▶Edit </span></a>
        <a href="{% url 'community:community_delete' data.id %}"><span class="click_button">▶Delete</span></a> 

        {% if user.is_authenticated %}
        <form method="POST"  action="{% url 'community:addBookmark' data.id%}"
        enctype="multipart/form-data">
        {%csrf_token%}
        {{ bookmarkForm  }}
       
        <button type="submit" > 북마크추가</button>
       
    </form>
        {% else %}
        <form method="POST"  action="#"
        enctype="multipart/form-data">
        {%csrf_token%}
        {{ bookmarkForm  }}
        <button type="submit" onclick="auth()"> 북마크추가</button>
        <script>
            function auth(){
                 alert("로그인 하신 뒤 이용가능한 서비스 입니다");
            }
            </script>
    </form>
        {%endif%}
    </div>
    {% endif %}
</div>
{% endblock %}