{% extends "base.html" %}
{% block content %}

<div class="container">

    <h1>"{{ tagname }}" 태그와 관련된 글</h1>
    <br>
    <br>
    <table class="table">
        <tr>
            <td>제목</td>
            <td>작성일</td>
            <td>미리보기</td>
            <td>바로가기</td>
        </tr>

        {% for data in object_list %} <!-- object_list 객체는 TaggedObjectLV 클래스형 뷰에서 넘겨주는 컨텍스트 변수로서 Post 리스트가 담겨있음-->
        <tr>
            <td>{{ data.title }}</a></h2></td>
            <td>{{ data.date|date:"N d, Y" }}</td>
            <td><p> {{ data.summary }} ... </p></td>
            <td><a href="{% url 'community:community_detail' data.id %}"> 해당 글로 이동</td>
        </tr>  
        {% endfor %}
    </table>
</div>

{% endblock %}