{% extends 'base.html' %}
{% block content %}
<style>
    .content-container {
        display: grid;
        grid-template-areas: "search search search"
                            "a list b"
                            "c direction d";
        row-gap: 15px;
    }
    .search_form {
        grid-area: search; 
        text-align: center;}
    #keyword {
        width: 50%;
        border: beige solid 1px;
        background-color: beige;
    }
    .item-box {
        /* width: 100%; */
        display: inline-flex;
        border-radius: 10px;
        border: 3px solid beige;
        padding: 5px;
    }
    .div_info {
        padding-left: 10px;
        padding-right: 10px;
    }
    .div_info a {
        text-decoration: none;
        color:black;
    }
    .store-box {
        grid-area:list;
        display:grid;
        grid-template-rows: repeat(10, 1fr);
        row-gap: 10px;
    }
    .item-box:nth-child(1){grid-row: 1 / 2;}
    .item-box:nth-child(2){grid-row: 2 / 3;}
    .item-box:nth-child(3){grid-row: 3 / 4;}
    .item-box:nth-child(4){grid-row: 4 / 5;}
    .item-box:nth-child(5){grid-row: 5 / 6;}
    .item-box:nth-child(6){grid-row: 6 / 7;}
    .item-box:nth-child(7){grid-row: 7 / 8;}
    .item-box:nth-child(8){grid-row: 8 / 9;}
    .item-box:nth-child(9){grid-row: 9 / 10;}
    .item-box:nth-child(10){grid-row: 10 / 11;}

    .direction {
        grid-area:direction;
        margin: 0 auto;
        width: fit-content;
        text-align: center;
        background-color: beige;
        padding: 3px 20px 3px 20px;
        border-radius: 10px;
    }
    .direction a {
        color: black;
        text-decoration: none;
    }
</style>
<div class="search_form">
    <form action="{%url 'store:index' %}" method="GET">
        <input type="search" name="keyword" placeholder="검색어를 입력하세요" id="keyword">
        <button type="submit">검색</button>
    </form>
</div>

<div class="store-box">
    {% for book in bookList %}
    <div class="item-box">
        {%if book.image %}
        <div class="div_img"><img src="{{book.image}}"></div>
        {%endif%}
        <div class="div_info"> <a href ="{{book.get_absolute_url}}">
            <p>{{book.title}}</p>
            <p>{{book.author}} | {{book.publisher}} | {{book.pubdate}}</p>
            <p>{{book.price}} 원</p>
        </a>
        </div>
    </div>
    {%endfor%}
</div>


<div class="direction">
    {% if page != '1' %}
    <a href="?page=1&keyword={{keyword}}" class="a-button">처음</a>
    <a href="?page={{page|add:'-1'}}&keyword={{keyword}}">◀</a>
    {% endif %}

    <!-- 현재 페이지 -->
    <span>{{page}}</span>
    
    <a href="?page={{page|add:'1'}}&keyword={{keyword}}">▶</a>
</div>

{% endblock %}